<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="insertar" method="POST">
        <input type="text" name="inputTitulo" placeholder="Titulo">
        <input type="text" name="inputDescripcion" placeholder="Descripcion">
        <input type="text" name="inputEstreno" placeholder="Fecha de Estreno">
        <input type="text" name="inputDirector" placeholder="Director">
        <select name="select">
            <option value=""></option>
        </select>
    </form>
</body>
</html>